.cardreview { text-align: center; }
.cardtitle {
	text-align: center;
}

.cardcontent {
	text-align: center;
}

.notecard {
	border: 1px solid #33c3f0;
	padding: 10px;
}

.notecard-textarea {
	width: 100%;
	border-radius: 0px;
}

.notecard-textfield {
	width: 100%;
	border-radius: 0px !important;
}

.review.back {
	visibility: hidden;
}