{% extends 'base.html' %}
{% block body %}
<div class="row">
	<div class="columns ten">
	<h1>{{message}}</h1>
</div>
{% for notecard in notecards %}
	<div class="row">
		<div class="cardlabel columns three">
			{{notecard.front}}
		</div>	
		<div class="cardreview columns three">
			<a href="{{ url_for('review', card_id=notecard.id) }}" class="button button-primary">Review</a>
		</div>	
		<div class="cardedit columns three">
			<a href="{{ url_for('edit', card_id=notecard.id) }}" class="button">Edit</a>
		</div>
		<div class="carddelete columns three">
			<a href="{{ url_for('delete', card_id=notecard.id) }}" class="button">Delete</a>
		</div>		
	</div>
{% endfor %}	
<div class="row">
	<div class="columns eight offset-by-one notecard">
		<form method="post" action="{{ url_for('save') }}" >
		    {{ form.csrf_token }}
		    <b>Create a new notecard:</b><br/><br/>
		    {{ form.front.label }} {{ form.front(class_="notecard-textfield", size=20) }} <br/><br/>
		    {{ form.back.label }} {{ form.back(class_="notecard-textarea", size=200) }} <br/><br/>
		    <input type="submit">
		</form>
	</div>
</div>
{% endblock %}