{% extends 'base.html' %}
{% block body %}
<div class="columns eight offset-by-two cardreview notecard">
	<h1 class="cardtitle">Front</h1><br/>
	<p class="cardcontent">{{ notecard.front }}</p><br/>
	<span class="button button-primary" id="reveal">Show back</span>
	<h1 class="cardtitle review back">Back</h1><br/>
	<p class="cardcontent review back">{{ notecard.back }}</p>
</div>
{% endblock %}

{% block navigation %}
<div class="row">
	<div class="columns eight offset-by-two">
		<a href="{{ url_for('home') }}">Home</a>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	$(document).ready(function(){
		var shown = false;
	    $("#reveal").click(function(){
	    	if(!shown){ 
	    		$(".review.back").css("visibility", "visible");
	    		$("#reveal").text("Hide back"); 
	    		shown = true;
	    	} else {
	    		$(".review.back").css("visibility", "hidden"); 
	    		shown = false;
	    	}
	        
	    });
	});
</script>
{% endblock %}